*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Mono';
    background-color: black;
}

h1{
    text-transform: uppercase;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

h2{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: lighter;
    color: white;
}

header{
    width: 100%;
    background-color: white;
}

article{
    width: 300px;
}

.container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 8% auto;
}

section{    
    margin-left: 7%;
    display: flex;
    width: 900px;
    height: 430px;
}

section img{
    border-radius: 7px;
    box-shadow: 10px 10px 10px;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.95;
    transition: 5s ease;
}

section img:hover{
    cursor:pointer;
    width: 350px;
    opacity: 1;
    filter: contrast(120%);
}


#title:hover{
    cursor: pointer;
}

@keyframes example {
    0% {color: black;}
    25%{color:rgb(38, 4, 69)}
    50%{color:rgb(47, 3, 170)}
    75%{color:rgb(238, 60, 25)}
    100% {color:rgb(255, 21, 0);}
}

.about{
    width: 200px;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
}

p{
    color: white;
}

em{
    color: blueviolet;
}

.fight-club{
    display: flex;
    margin: 6% auto;
    justify-content: center;
}

.container2{
    display: flex;
    justify-content: center;
}

.title-container{
    display: flex;
    justify-content: center;
    margin: 0 0 0 24%;
}

.img-fg img{
    height: auto;
    width: 240px;
}

h2 img{
    height: auto;
    width: 220px;
}

strong{
    color:pink;
}

audio{
    mask-repeat: repeat;
}

#text-article,.title-container2{
    font-size: 19px;
    margin-right: 7%;
}

.container3{
    margin: 4% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container3 img{
    opacity: 0.1;
}

.container3 div div img{
    height: 500px;
    width: auto;
}

